.box {
 height: 250px;
 width: 250px;
 display: inline-block;
 background-color: black;
 border: 1px white solid;
}

.box-0 {
 background-color: #485157;
}

.box-1 {
 background-color: #495248;
}

.box-2 {
 background-color: #484957;
}

.box-3 {
 background-color: #484948;
}

.box-4 {
 background-color: #485748;
}

.box-5 {
 background-color: #485150;
}

.box-6 {
 background-color: #485457;
}

.box-7 {
 background-color: #485354;
}

.box-8 {
 background-color: #485652;
}

.box-9 {
 background-color: #485052;
}

.box-10 {
 background-color: #494853;
}

.box-11 {}

.box-12 {}

.box-13 {}

.box-14 {}

/* end */

.box-15 {}

.box-16 {}

.box-17 {}

.box-18 {}